{% extends 'base.html' %}


{% block content %}
<h1 style = "padding-top:7% " >Welcome to about page</h1>
    <p>This is an application that will help people who want to get real-time news without having to watch TV for the news. The website will show news articles from several sources and news sources that a user can click to see more news. The application consumes news from the News API.</p>
    <p>The news vary from sports, business culture, medical and a wide variety of it.</p>
{% endblock %}